/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
* Design: http://go/cdt-design-button
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* Reset default UA styles for focused elements.
* The button styles below explicitly implement custom focus styles.
*/
*:focus,
*:focus-visible,
:host(:focus),
:host(:focus-visible) {
  outline: none;
}

:host {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--sys-size-14);
  padding-bottom: var(--sys-size-13);
}

.wrapper {
  display: flex;
  width: var(--sys-size-32, 384px);
  max-width: var(--sys-size-37, 768px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sys-size-5, 8px);
}

.heading {
  color: var(--sys-color-on-surface, #1F1F1F);
  /* font-family: "Google Sans"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.content-container {
  display: flex;
  padding: var(--sys-size-5) 0 0 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: var(--sys-shape-corner-small);
  background:var(--sys-color-cdt-base-container);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25), 0px 4px 8px 0px rgba(0, 0, 0, 0.13);

  > * {
    display: flex;
  height: var(--sys-size-13, 32px);
  padding: 0px var(--sys-size-5, 8px);
  align-items: center;
  align-self: stretch;
  }
}
