/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Ref tokens */

:root {
  --ref-palette-primary0: rgb(0 0 0 / 100%);
  --ref-palette-primary10: rgb(4 30 73 / 100%);
  --ref-palette-primary20: rgb(6 46 111 / 100%);
  --ref-palette-primary30: rgb(8 66 160 / 100%);
  --ref-palette-primary40: rgb(11 87 208 / 100%);
  --ref-palette-primary50: rgb(27 110 243 / 100%);
  --ref-palette-primary60: rgb(76 141 246 / 100%);
  --ref-palette-primary70: rgb(124 172 248 / 100%);
  --ref-palette-primary80: rgb(168 199 250 / 100%);
  --ref-palette-primary90: rgb(211 227 253 / 100%);
  --ref-palette-primary95: rgb(236 243 254 / 100%);
  --ref-palette-primary99: rgb(250 251 255 / 100%);
  --ref-palette-primary100: rgb(255 255 255 / 100%);
  --ref-palette-secondary0: rgb(0 0 0 / 100%);
  --ref-palette-secondary10: rgb(0 29 53 / 100%);
  --ref-palette-secondary20: rgb(0 51 85 / 100%);
  --ref-palette-secondary30: rgb(0 74 119 / 100%);
  --ref-palette-secondary40: rgb(0 99 155 / 100%);
  --ref-palette-secondary50: rgb(4 125 183 / 100%);
  --ref-palette-secondary60: rgb(57 152 211 / 100%);
  --ref-palette-secondary70: rgb(90 179 240 / 100%);
  --ref-palette-secondary80: rgb(127 207 255 / 100%);
  --ref-palette-secondary90: rgb(223 243 255 / 100%);
  --ref-palette-secondary95: rgb(223 243 255 / 100%);
  --ref-palette-secondary99: rgb(247 252 255 / 100%);
  --ref-palette-secondary100: rgb(255 255 255 / 100%);
  --ref-palette-tertiary0: rgb(0 0 0 / 100%);
  --ref-palette-tertiary10: rgb(7 39 17 / 100%);
  --ref-palette-tertiary20: rgb(10 56 24 / 100%);
  --ref-palette-tertiary30: rgb(15 82 35 / 100%);
  --ref-palette-tertiary40: rgb(20 108 46 / 100%);
  --ref-palette-tertiary50: rgb(25 134 57 / 100%);
  --ref-palette-tertiary60: rgb(30 164 70 / 100%);
  --ref-palette-tertiary70: rgb(55 190 95 / 100%);
  --ref-palette-tertiary80: rgb(109 213 140 / 100%);
  --ref-palette-tertiary90: rgb(196 238 208 / 100%);
  --ref-palette-tertiary95: rgb(231 248 237 / 100%);
  --ref-palette-tertiary99: rgb(242 255 238 / 100%);
  --ref-palette-tertiary100: rgb(255 255 255 / 100%);
  --ref-palette-error0: rgb(0 0 0 / 100%);
  --ref-palette-error10: rgb(65 14 11 / 100%);
  --ref-palette-error20: rgb(96 20 16 / 100%);
  --ref-palette-error30: rgb(140 29 24 / 100%);
  --ref-palette-error40: rgb(179 38 30 / 100%);
  --ref-palette-error50: rgb(220 54 46 / 100%);
  --ref-palette-error60: rgb(228 105 98 / 100%);
  --ref-palette-error70: rgb(236 146 142 / 100%);
  --ref-palette-error80: rgb(242 184 181 / 100%);
  --ref-palette-error90: rgb(249 222 220 / 100%);
  --ref-palette-error95: rgb(231 248 237 / 100%);
  --ref-palette-error99: rgb(242 255 238 / 100%);
  --ref-palette-error100: rgb(255 255 255 / 100%);
  --ref-palette-neutral0: rgb(0 0 0 / 100%);
  --ref-palette-neutral10: rgb(31 31 31 / 100%);
  --ref-palette-neutral15: rgb(40 40 40 / 100%);
  --ref-palette-neutral20: rgb(48 48 48 / 100%);
  --ref-palette-neutral30: rgb(71 71 71 / 100%);
  --ref-palette-neutral40: rgb(94 94 94 / 100%);
  --ref-palette-neutral50: rgb(117 117 117 / 100%);
  --ref-palette-neutral60: rgb(143 143 143 / 100%);
  --ref-palette-neutral70: rgb(171 171 171 / 100%);
  --ref-palette-neutral80: rgb(199 199 199 / 100%);
  --ref-palette-neutral90: rgb(227 227 227 / 100%);
  --ref-palette-neutral95: rgb(242 242 242 / 100%);
  --ref-palette-neutral99: rgb(253 252 251 / 100%);
  --ref-palette-neutral100: rgb(255 255 255 / 100%);
  --ref-palette-neutral-variant0: rgb(0 0 0 / 100%);
  --ref-palette-neutral-variant10: rgb(25 29 28 / 100%);
  --ref-palette-neutral-variant20: rgb(45 49 47 / 100%);
  --ref-palette-neutral-variant30: rgb(68 71 70 / 100%);
  --ref-palette-neutral-variant40: rgb(92 95 94 / 100%);
  --ref-palette-neutral-variant50: rgb(116 119 117 / 100%);
  --ref-palette-neutral-variant60: rgb(142 145 143 / 100%);
  --ref-palette-neutral-variant70: rgb(169 172 170 / 100%);
  --ref-palette-neutral-variant80: rgb(196 199 197 / 100%);
  --ref-palette-neutral-variant90: rgb(225 227 225 / 100%);
  --ref-palette-neutral-variant95: rgb(239 242 239 / 100%);
  --ref-palette-neutral-variant99: rgb(250 253 251 / 100%);
  --ref-palette-neutral-variant100: rgb(255 255 255 / 100%);
  --ref-palette-orange0: rgb(0 0 0 / 100%);
  --ref-palette-orange10: rgb(45 22 0 / 100%);
  --ref-palette-orange20: rgb(74 40 0 / 100%);
  --ref-palette-orange30: rgb(106 60 0 / 100%);
  --ref-palette-orange40: rgb(139 80 0 / 100%);
  --ref-palette-orange45: rgb(169 91 18 / 100%);
  --ref-palette-orange50: rgb(174 102 0 / 100%);
  --ref-palette-orange60: rgb(206 126 27 / 100%);
  --ref-palette-orange65: rgb(232 143 33 / 100%);
  --ref-palette-orange70: rgb(238 152 54 / 100%);
  --ref-palette-orange80: rgb(255 184 113 / 100%);
  --ref-palette-orange90: rgb(255 220 190 / 100%);
  --ref-palette-orange95: rgb(255 238 225 / 100%);
  --ref-palette-orange99: rgb(255 251 255 / 100%);
  --ref-palette-orange100: rgb(255 255 255 / 100%);
  --ref-palette-yellow0: rgb(0 0 0 / 100%);
  --ref-palette-yellow10: rgb(38 26 0 / 100%);
  --ref-palette-yellow20: rgb(64 45 0 / 100%);
  --ref-palette-yellow30: rgb(92 67 0 / 100%);
  --ref-palette-yellow40: rgb(121 89 0 / 100%);
  --ref-palette-yellow50: rgb(152 113 0 / 100%);
  --ref-palette-yellow55: rgb(186 130 14 / 100%);
  --ref-palette-yellow60: rgb(184 137 0 / 100%);
  --ref-palette-yellow70: rgb(217 162 0 / 100%);
  --ref-palette-yellow80: rgb(251 188 5 / 100%);
  --ref-palette-yellow90: rgb(255 223 160 / 100%);
  --ref-palette-yellow95: rgb(255 239 213 / 100%);
  --ref-palette-yellow97: rgb(255 245 229 / 100%);
  --ref-palette-yellow99: rgb(255 251 255 / 100%);
  --ref-palette-yellow100: rgb(255 255 255 / 100%);
  --ref-palette-turquoise0: rgb(0 0 0 / 100%);
  --ref-palette-turquoise10: rgb(0 31 40 / 100%);
  --ref-palette-turquoise20: rgb(0 53 67 / 100%);
  --ref-palette-turquoise30: rgb(0 78 96 / 100%);
  --ref-palette-turquoise40: rgb(0 103 127 / 100%);
  --ref-palette-turquoise50: rgb(0 130 159 / 100%);
  --ref-palette-turquoise55: rgb(0 152 196 / 100%);
  --ref-palette-turquoise60: rgb(0 157 193 / 100%);
  --ref-palette-turquoise70: rgb(56 185 222 / 100%);
  --ref-palette-turquoise80: rgb(92 213 251 / 100%);
  --ref-palette-turquoise90: rgb(183 234 255 / 100%);
  --ref-palette-turquoise95: rgb(221 245 255 / 100%);
  --ref-palette-turquoise99: rgb(249 253 255 / 100%);
  --ref-palette-turquoise100: rgb(255 255 255 / 100%);
  --ref-palette-purple0: rgb(0 0 0 / 100%);
  --ref-palette-purple10: rgb(47 0 77 / 100%);
  --ref-palette-purple20: rgb(77 0 122 / 100%);
  --ref-palette-purple30: rgb(110 0 171 / 100%);
  --ref-palette-purple40: rgb(140 30 211 / 100%);
  --ref-palette-purple50: rgb(167 67 238 / 100%);
  --ref-palette-purple60: rgb(191 103 255 / 100%);
  --ref-palette-purple70: rgb(209 144 255 / 100%);
  --ref-palette-purple80: rgb(226 182 255 / 100%);
  --ref-palette-purple90: rgb(243 218 255 / 100%);
  --ref-palette-purple95: rgb(251 236 255 / 100%);
  --ref-palette-purple99: rgb(249 253 255 / 100%);
  --ref-palette-purple100: rgb(255 255 255 / 100%);
}
