---
BasedOnStyle: Chromium
ColumnLimit: 120
CommentPragmas: .*\@.*
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ReflowComments: false
---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 80
