[submodule "third_party/inspector_protocol"]
	path = third_party/inspector_protocol
	url = https://chromium.googlesource.com/deps/inspector_protocol
	gclient-condition = build_with_chromium == False
[submodule "build"]
	path = build
	url = https://chromium.googlesource.com/chromium/src/build.git
