[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
	mergeContent = true
[label "Code-Review"]
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = NoBlock
	ignoreSelfApproval = true
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR has:unchanged-files OR is:MIN
[label "Commit-Queue"]
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyCondition = changekind:NO_CHANGE
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[access "refs/*"]
	owner = group cria/project-devtools-admins
	owner = group v8-admins
[access "refs/for/*"]
	addPatchSet = group cria/project-devtools-committers
	addPatchSet = group devtools-frontend-scoped@luci-project-accounts.iam.gserviceaccount.com
	create = group Logged-in Public Users
	forgeAuthor = group cria/project-devtools-committers
	push = group Logged-in Public Users
	submit = group cria/project-devtools-committers
[access "refs/heads/*"]
	abandon = group cria/project-devtools-committers
	forgeAuthor = group cria/project-devtools-committers
	forgeCommitter = group cria/project-devtools-committers
	label-Code-Review = -1..+1 group cria/project-devtools-committers
	label-Auto-Submit = +0..+1 group Change Owner
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group cria/project-devtools-committers
	labelAs-Commit-Queue = +0..+2 group cria/project-devtools-admins
	labelAs-Commit-Queue = +0..+2 group devtools-frontend-scoped@luci-project-accounts.iam.gserviceaccount.com
	submit = group cria/project-devtools-committers
	submit = group devtools-frontend-scoped@luci-project-accounts.iam.gserviceaccount.com
	create = group chromium-branch-creators
	label-Owners-Override = +0..+1 group cria/project-devtools-sheriffs
        editHashtags = group cria/project-devtools-committers
[plugin "zosscoverage"]
	enable = false
	enableLowCoverageAlerting = false
	enableVoting = false
	incrementalCoverageDisplayErrorBelow = 0
	incrementalCoverageDisplayWarningBelow = 0
	labelName = Code-Coverage
	minAffectedFilesToEnforce = 0
	minAffectedLinesToEnforce = 0
	negativeVoteValue = -1
	positiveVoteValue = 1
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
[submit-requirement "Code-Review"]
	description = If the author is a DevTools committer, code review is required from one other committer. Otherwise, code review is required from two committers.
	submittableIf = ((uploaderin:cria/project-devtools-committers AND label:Code-Review=MAX,user=non_uploader) OR label:Code-Review=MAX,count>=2) AND -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = Submit requirement for the 'Verified' label
	applicableIf = is:false
	submittableIf = is:true
	canOverrideInChildProjects = true
