[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group v8-admins
[access "refs/for/*"]
	addPatchSet = group chrome-commit-bot
	addPatchSet = group v8-committers
	create = group Logged-in Public Users
	forgeAuthor = group v8-committers
	push = group Logged-in Public Users
	submit = group v8-committers
