/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  overflow: auto;
  height: 100%;
}

devtools-report-section-header {
  padding-bottom: 0;
  margin-bottom: -1.5em;
}

devtools-report-section-header:nth-of-type(1) {
  padding-top: 1em;
}

.success-label,
.failure-label,
.neutral-label {
  border-radius: 4px;
  padding: 1px 4px;
  font-size: 13px;
  line-height: 20px;
}

.success-label devtools-icon,
.failure-label devtools-icon,
.neutral-label devtools-icon {
  vertical-align: sub;
}

.success-label {
  background: var(--sys-color-tertiary-container);
}

.failure-label {
  background: var(--sys-color-error-container);
}

.neutral-label {
  background: var(--sys-color-neutral-container);
}

.link {
  color: var(--sys-color-primary);
  text-decoration: underline;
  cursor: pointer;
  outline-offset: 2px;
  padding: 0;
}
