/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  white-space: normal;
  display: inline-block;
}

button {
  border: none;
  margin-right: 2px;
  margin-top: 4px;
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;

  &:first-of-type {
    /* We need to reserve 2 pixels to be able to show the focus ring */
    margin-left: 2px;
  }
}

button.with-click-handler {
  padding: 0 4px;
}

button.with-click-handler:hover,
button:focus-visible {
  background-color: var(--sys-color-state-hover-on-subtle);
}

button:focus-visible {
  outline: 2px solid var(--sys-color-state-focus-ring);
  border-radius: 2px;
}

span {
  margin-left: 0.5ex;

  .compact & {
    display: none;
  }
}

devtools-new-icon {
  margin-left: 1ex;

  &:first-child {
    margin-left: inherit;
  }
}

@media (forced-colors: active) {
  button {
    forced-color-adjust: none;
    background-color: ButtonFace;
  }

  button:focus-visible,
  button.with-click-handler:hover {
    background-color: Highlight;
    color: HighlightText;

    devtools-new-icon {
      color: HighlightText;
    }
  }
}
