/*
 * Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.preview {
  padding: 2px 6px;
}

.header {
  color: var(--selection-inactive-fg-color);
  font-weight: bold;
  user-select: none;
  line-height: 26px;
}

.cookie-value {
  overflow: auto;
  user-select: text;
  margin-left: 16px;
}

.toggle {
  appearance: none;
  display: inline;
  margin-left: 30px;
  font-weight: normal;
  color: rgb(45% 45% 45%);
  background: none;
  border: none;
}

.toggle:hover {
  color: rgb(20% 20% 45%);
  cursor: pointer;
}
