/*
 * Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.report-field-value-part {
  padding-left: 1ex;
}

.report-field-value-link {
  display: inline-block;
}

.report-field-name {
  flex: 0 0 200px;
}

.report-field .more-info {
  color: #555;
}

.devtools-link .icon {
  background-color: rgb(17 85 204);
  margin-right: 0.5ex;
  margin-bottom: 2px;
}
