/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.frame-name-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
