/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 29px;
  padding: 6px 2px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.breadcrumbs::-webkit-scrollbar {
  width: 3px;
}

.breadcrumbs::-webkit-scrollbar-track {
  
  width: 3px;
  /* padding: 2px 0; */
  background-color: #ffffff;
}

.breadcrumbs::-webkit-scrollbar-thumb {
  /* border-radius: 2px; */
  /* width: 2px; */
  background-color: var(--color-selection-highlight-border);
  /* border: 1px solid var(--color-selection-highlight-border); */
}

.breadcrumb {
  padding: 2px 6px;
  border-radius: 4px;
}

.breadcrumb:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
}

.range {
  font-size: 12px;
  white-space: nowrap;
}

.last-breadcrumb {
  font-weight: bold;
  color: var(--color-selection-highlight-border);
}
