/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 29px;
  gap: 0.5px;
  padding: 6px 8px;
}

.range {
  font-size: 12px;
}

.last-breadcrumb {
  font-weight: bold;
  color: var(--color-selection-highlight-border);
}
