/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

 .annotation-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px;

  &:hover {
    background-color: var(--sys-color-neutral-container);

    .bin-icon {
      visibility: visible;
     }   
  }
 }

 .bin-icon {
  visibility: hidden;
 }

.annotations {
  display: flex;
  flex-direction: column;
}

.entry-name {
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--app-color-performance-sidebar-label);
}

.label {
  padding-top: 6px;
  font-size: larger;
}
