/*
 * Copyright 2024 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.sidebar {
  display: flex;
  padding-top: 8px;
  justify-content: center;
}

.sidebar-closed {
  width: 40px;
}

.sidebar-open {
  width: 240px;
}

.toggle-sidebar-button {
  width: 24px;
  height: 24px;
}
