/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  overflow-x: auto;
}

.tree-outline {
  padding: 0;
}

.tree-outline li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 5px;
  overflow: hidden;
  margin: 2px 0;
  white-space: nowrap;
}

.tree-outline .lock-icon,
.tree-outline .security-property {
  margin-right: var(--sys-size-6);
  flex: none;
}

@media (forced-colors: active) {
  .tree-outline .lock-icon,
  .tree-outline .security-property {
    forced-color-adjust: none;
  }

  .tree-outline li.selected:focus .lock-icon,
  .tree-outline .security-sidebar-tree-item.selected:focus .icon {
    color: HighlightText;
  }
}

.tree-outline ol {
  padding-left: 0;
}

.tree-outline li::before {
  content: none;
}

.tree-outline .security-main-view-sidebar-tree-item,
.tree-outline .security-sidebar-origins,
.tree-outline li.security-sidebar-origins + .children > li {
  height: var(--sys-size-12);
  padding: 0 var(--sys-size-8) 0 var(--sys-size-7);
  color: var(--sys-color-on-surface);
  margin: 0 var(--sys-size-5) 0 0;
}

.tree-outline .security-main-view-sidebar-tree-item,
.tree-outline li.security-sidebar-origins + .children > li {
  border-radius: 0 100px 100px 0;
  position: relative;

  &.selected {
    color: var(--app-color-navigation-drawer-label-selected);
    background-color: var(--app-color-navigation-drawer-background-selected);

    & .lock-icon,
    .security-property {
      color: var(--app-color-navigation-drawer-label-selected);
    }
  }

  &:active::before {
    background-color: var(--sys-color-state-ripple-neutral-on-subtle);
    mask-image: none;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--sys-color-state-focus-ring);
  }
}

.tree-outline li.security-sidebar-origins {
  margin: var(--sys-size-6) 0 0 0;
  line-height: var(--sys-size-8);

  &:hover > .selection {
    background-color: transparent;
  }
}

.security-sidebar-tree-item {
  padding: 2px 0;
}

.security-sidebar-tree-item .title {
  overflow: hidden;
  margin-right: 5px;
}

.security-main-view-reload-message .tree-element-title {
  color: var(--sys-color-token-subtle);
  padding-left: 8px;
}
