/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.unhide-all-issues-btn {
  padding: 1px;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
