/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.css-length {
  display: inline-block;
  position: relative;
  outline: none;
}

.value {
  cursor: ew-resize;
}

.unit-dropdown {
  display: none;
}

.unit-dropdown select {
  all: unset;
  cursor: pointer;
  opacity: 0%;
  width: 1em;
}

.css-length:hover .unit-dropdown {
  display: inline-block;
}

.icon {
  position: absolute;
  right: 0;
  display: inline-block;
  -webkit-mask-image: var(--image-file-chevrons);
  -webkit-mask-position: -18px 0;
  -webkit-mask-size: 30px 10px;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--color-text-primary);
  content: '';
  height: 1em;
  width: 1em;
}
