/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.not-restored-reason-list {
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.inline-icon {
  vertical-align: sub;
}

.report-explanation {
  grid-column-start: span 2;
  border-radius: 10px;
  border: 1px solid var(--color-details-hairline);
  padding: 12px;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gray-text {
  color: var(--color-text-secondary);
}

.wrap {
  overflow-wrap: break-word;
}

.key {
  margin: 0 0 8px;
  color: var(--color-text-secondary);
  white-space: pre;
}
