/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.inline-icon {
  vertical-align: sub;
}

.gray-text {
  color: var(--color-text-secondary);
}

.key {
  margin: 0 0 8px;
  color: var(--color-text-secondary);
  white-space: pre;
}
