/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.inline-icon {
  vertical-align: sub;
}

.gray-text {
  color: var(--color-text-secondary);
}

.circled-exclamation-icon {
  margin-right: 4px;
}

.url {
  grid-column-start: span 2;
  display: flex;
  align-items: center;
}

.key {
  color: var(--color-text-secondary);
  white-space: pre;
  min-width: auto;
}

.url-component {
  line-height: 28px;
  padding: 0 6px;
  overflow-wrap: break-word;
}
