/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.audits-start-view {
  font-family: Roboto, sans-serif;
  font-size: var(--font-size);
  line-height: 18px;

  --color-blue: #0535C1;
  --color-bg: white;
  --font-size: 14px;
  --report-font-family: Roboto, Helvetica, Arial, sans-serif;
}

.audits-start-view header {
  padding: 16px 16px 0 16px;
  display: grid;
  justify-items: center;
}

.audits-logo {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Images/audits_logo.svg);
}

.audits-start-view-text h1 {
  color: black;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 12px;
}

.audits-start-view-text p {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.audits-start-view form {
  padding: 8px 16px;
}

.audits-form-section {
  padding: 8px;
}

.audits-form-section:first-child,
.audits-form-section:last-child {
  border-top: 1px solid #ebebeb;
}

.audits-form-section-label {
  margin: 7px 0 7px;
  font-weight: 500;
}

.audits-form-section input {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.audits-form-section-label i span {
  position: relative;
  top: -2px;
}

.audits-form-section-label span.largeicon-checkmark {
  top: -4px;
}

.audits-radio {
  display: block;
  margin-bottom: 6px;
}

.audits-radio:last-child {
  margin-bottom: 0;
}

.audits-start-button-container {
  align-items: center;
}

.audits-start-button-container button {
  margin: 8px auto;
  padding: 6px 14px 6px 14px;
  font-family: var(--report-font-family);
  font-weight: 500;
  font-size: var(--font-size);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 13px;
  color: var(--color-bg);
  background-color: var(--color-blue);
  transition: 0.1s all;
}
.audits-start-button-container button:focus {
  /* TODO: how to handle? the primary button is focused initially, but that messes with the design. */
  /* outline-width: 1px; */
  /* background-color: var(--accent-color-hover); */
}
.audits-start-button-container button:hover {
  background-color: #042790;
  border: 1px solid #0535C1;
}
.audits-start-button-container button:disabled {
  background-color: #cccccc;
  border: none;
  color: #666666;
  cursor: not-allowed;
}

.audits-start-view .toolbar-dropdown-arrow {
  display: none;
}

.audits-launcher-row {
  margin-bottom: 6px;
}

.audits-launcher-row:last-of-type {
  padding-bottom: 0;
}

.audits-launcher-row .dimmed {
  padding-left: 22px;
}

.audits-help-text {
  color: red;
  font-weight: bold;
  padding-left: 10px;
}
