/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: inline;
}

:host(.width-constrained) {
  display: inline-block;
  width: 100%;
}

.stack-preview-async-description {
  padding: 3px 0 1px;
  font-weight: bold;
}

.stack-preview-container.width-constrained {
  display: block;
  width: 100%;
}

.stack-preview-container {
  --display-ignored-row: none;
  --display-toggle-link: var(--override-display-stack-preview-toggle-link, none);
}

.stack-preview-container:not(:has(tbody > tr > td.link > .devtools-link:not(.ignore-list-link))),
.stack-preview-container.show-hidden-rows {
  --display-ignored-row: table-row;
}

.stack-preview-container:has(tbody > tr > td.link > .ignore-list-link):has(tbody > tr > td.link > .devtools-link:not(.ignore-list-link)) {
  --display-toggle-link: table-row;
}

.stack-preview-container > tbody > tr:has(td.link > .ignore-list-link) {
  opacity: 60%;
  display: var(--display-ignored-row);
}

.stack-preview-container > .stack-preview-async-row-group:has(+ tbody:has(tr > td.link > .ignore-list-link):not(:has(tr > td.link > .devtools-link:not(.ignore-list-link)))) > tr {
  display: var(--display-ignored-row);
}

.stack-preview-container > tbody {
  display: var(--override-display-stack-preview-tbody, table-row-group);
}

.stack-preview-container > tbody > tr {
  height: 16px;
  line-height: 16px;
}

.stack-preview-container td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 2px;
}

.stack-preview-container.width-constrained td.link {
  /* width: 100%; and max-width: 0; combination causes the link cell to be
  extended as much as possible while still staying inside the table */
  width: 100%;
  max-width: 0;
}

.stack-preview-container .function-name {
  max-width: 80em;
}

.stack-preview-container > tfoot > tr.show-all-link,
.stack-preview-container > tfoot > tr.show-less-link {
  font-style: italic;
  display: var(--display-toggle-link);
}

.stack-preview-container.show-hidden-rows > tfoot > tr.show-all-link {
  display: none;
}

.stack-preview-container:not(.show-hidden-rows) > tfoot > tr.show-less-link {
  display: none;
}
